* {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu', monospace;
}


@media screen  and (max-width: 979px) /* Tablet */ {

}


#nav {
    border-top: 10px solid #fff;
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
    font-family: 'Gaegu', monospace;
    background-color: white;
    text-align: right;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}


/* .hamburger {
    background-color: transparent;
    border: none;
    display: inline-block;
}


#nav-ham {
    margin: 3.5% 7% 0 0;
} */


.nav-list {
    text-decoration: none;
    border: none;
    border-radius: 5px 5px 0 0;
    color: gray;
    background-color: #efe7e3;
    transition: color 0.3s ease;
    font-size: 22px;
    padding: 5px 19px 10px;
}
  
  
a {
    text-decoration: none;
    display: inline-block;
    pointer-events: auto !important;  
    cursor: pointer !important;
}


.inact:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}


/* Hambuger Nav */


/* .horizontal {
    width: 32px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


.horizontal span {
    display: block;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: gray;
} */


/* .three span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.three span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.three span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
} */


/* .horizontal .open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}


.horizontal .open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}


.horizontal .open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
} */


/* Nav ended */



.content {
    display: block;
    background-color: #efe7e3;
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
    border-bottom: 15px solid #fff;
}


#profile {
    margin-left: 15%;
    margin-top: 7%;
    width: 25%;
    display: inline;
    /* transform: rotate(20deg); */
    border-radius: 18px;
}


#pro-h2 {
    display: inline;
    position: absolute;
    margin-top: 9%;
    margin-left: 4%;
}


#pro-p {
    display: inline;
    position: absolute;
    margin-top: 15%;
    margin-left: 4%;
    width: 40%;
}


.row {
    height: 60%;
    display: block;
    margin-bottom: 8%;
}


h1 {
    margin-left: 2%;
    margin-bottom: 5%;
}


.skills {
    display: flex;
}


ul {
    margin: 0 4% 4%;
    width: 35%;
}


.sk {
    background-color: #F8A6533D;
    margin: 9%;
    padding: 50px;
    border-radius: 20px;
}


#pa {
    margin-left: 10%;
    margin-bottom: 5%;
}


.ach-row {
    float: left;
    margin-left: 13%;
    margin-bottom: 5%;
}


.ach-row:after {
    content: "";
    display: table;
    clear: both;
}


.ach {
    width: 33%;
    float: left;
    border-radius: 10px;
}


h5 {
    margin-left: 5%;
    margin-bottom: 2%;
}


.ach-p {
    margin-left: 5%;
    display: inline-block;
    width: 45%
}


sup {
    vertical-align: super;
    font-size: smaller;
}


#psu {
    color: orange;
}


#psu:hover {
    color: tomato;
}


#footer {
    position: sticky;
    color: gray;
    width: 100%;
    margin: 50% 1.7% 0.8%;
    font-size: 14px;
    text-align: center;
    font-family: 'Gaegu', monospace;
}