* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    margin: 0;
    display: inline-block;
}


#nav {
    background-color: #efe7e3;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    font-family: 'Gaegu', monospace;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 2;
    text-align: right;
    height: 0;
}


#logo {
    width: 6%;
    position: absolute;
    margin: 1.5% 0 0 2.5%; 
    display: inline;
}


/* .hamburger {
    background-color: transparent;
    border: none;
    display: inline-block;
}


#nav-ham {
    margin: 3.5% 7% 0 0;
} */


#menu {
    display: inline;
}


#nav-menu {
    margin-top: 4%;
    right: 2%;
    position: absolute;
    /* display: none; */
}


.nav-list {
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease;
    font-size: 22px;
    margin-bottom: 15%;
}

.nav-list:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
from {
    -webkit-mask-position: 150%;
}

to {
    -webkit-mask-position: -50%;
}
}


/* Hambuger Nav */


/* .horizontal {
    width: 32px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


.horizontal span {
    display: block;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: gray;
} */


/* .three span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.three span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.three span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
} */


/* .horizontal .open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}


.horizontal .open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}


.horizontal .open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
} */


/* Nav ended */



.content {
    display: block;
    background-color: #efe7e3;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;
}


h1 {
    padding: 8% 0 5% 13%;
}


.row {
    margin-left: 22%;
}


 /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 10%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    width: 70%;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


#expandedImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}


/* Closable button inside the image */
/* .closebtn {
    position: absolute;
    color: inherit;
    font-size: 35px;
    cursor: pointer;
}  */


#footer {
    position: sticky;
    color: gray;
    width: 100%;
    margin: 100px 20px 20px;
    font-size: 14px;
    text-align: center;
    font-family: 'Gaegu', monospace;
}