* {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu', monospace;
}


#nav {
    border-top: 10px solid #fff;
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
    font-family: 'Gaegu', monospace;
    background-color: white;
    text-align: right;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}


/* .hamburger {
    background-color: transparent;
    border: none;
    display: inline-block;
}


#nav-ham {
    margin: 3.5% 7% 0 0;
} */


.nav-list {
    text-decoration: none;
    border: none;
    border-radius: 5px 5px 0 0;
    color: gray;
    background-color: #efe7e3;
    transition: color 0.3s ease;
    font-size: 22px;
    padding: 5px 19px 10px;
}
  
  
a {
    text-decoration: none;
    display: inline-block;
}


.inact:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
from {
    -webkit-mask-position: 150%;
}

to {
    -webkit-mask-position: -50%;
}
}


/* Hambuger Nav */


/* .horizontal {
    width: 32px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


.horizontal span {
    display: block;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: gray;
} */


/* .three span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.three span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.three span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
} */


/* .horizontal .open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}


.horizontal .open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}


.horizontal .open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
} */


/* Nav ended */



.content {
    display: block;
    background-color: #efe7e3;
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
    border-bottom: 15px solid #fff;
}


h1 {
    padding: 5% 0 3% 13%;
}


p {
    padding: 0 0 7% 13%;
}


.tab-gallery {
    margin-left: 20%;
}


.row {
    align-items: center;
    display: block;
    margin-left: 6.6%;
}


 /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 11%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    width: 75%;
    align-items: center;
}

/* Expanding image text */
/* #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
} */


#expandedImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
}


.grid {
    margin-left: 3.5px;
    width: 100%;
}


.lens {
    width: 50%;
    display: inline;
    margin: -3.5px;
    outline: 16px solid rgba(0,0,0,.1);
    outline-offset: -16px;
    transition: all .2s;
}


/* .lens::before, .lens::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    will-change: border;
}


.lens::after {
    border-width: 0;
  }


.lens:hover::before {
    outline: 16px solid rgba(0,0,0,.1);
    outline-offset: -16px;
    border-width: 16px;
}


.lens:hover::after {
    outline: 32px solid rgba(0,0,0,.1);
    outline-offset: -32px;
    border-width: 32px;
} */


.work {
    display: inline-block;
    width: 25%;
    margin: 2%;
}


.works {
    text-align: center;
    margin: auto;
}



#footer {
    position: sticky;
    color: gray;
    width: 100%;
    margin: 10% 1.7% 0.8%;
    font-size: 14px;
    text-align: center;
    font-family: 'Gaegu', monospace;
}