* {
  margin: 0;
  padding: 0;
}


/* html, body {
  height: 100%;
} */


header {
  display: flex;
  height: 100px;
}


#logo {
  height: 50%;
  margin: 2% 1.5% 1% 4%; 
}


#logo-text {
  font-family: 'Sacramento', cursive;
  margin-top: 2.5%;
  color: #62a6da;;
}


nav {
  display: inline-block;
  width: 78%;
  margin-top: 1%;
}


ul a {
  text-decoration: none;
}


li {
  float: right;
  list-style-type: none;
  display: inline;
  margin: 2.5%;
}