* {
  margin: 0;
  padding: 0;
  font-family: 'Gaegu', monospace;
}


#nav {
  border-top: 10px solid #fff;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
  font-family: 'Gaegu', monospace;
  background-color: white;
  text-align: right;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}


#logo {
  width: 10%;
  margin: 0;
  display: inline;
}


/* .hamburger {
  background-color: transparent;
  border: none;
  display: inline-block;
}


#nav-ham {
  margin: 3.5% 7% 0 0;
} */


.nav-list {
  text-decoration: none;
  border: none;
  border-radius: 5px 5px 0 0;
  color: gray;
  background-color: #efe7e3;
  transition: color 0.3s ease;
  font-size: 22px;
  padding: 12px 25px;
}


a {
  text-decoration: none;
  display: inline-block;
}


.inact:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}


@-webkit-keyframes shine {
  from {
      -webkit-mask-position: 150%;
  }

  to {
      -webkit-mask-position: -50%;
  }
}


/* Hambuger Nav */


/* .horizontal {
  width: 32px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


.horizontal span {
  display: block;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background: gray;
} */


/* .three span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
  
.three span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
  
.three span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
} */
  
/* .horizontal .open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
  
.horizontal .open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
  
.horizontal .open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
} */


/* Nav ended */


.clear {
  clear: both;
}


.content {
  display: block;
  background-color: #efe7e3;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
  border-bottom: 25px solid #fff;
}


#intro {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
  font-size: 33px;
}


.screen {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 8%;
  width: 50%;
  display: inline;
}


.right {
 float: right;
 margin-right: 12%;
}


h2 {
  font-family: 'Gaegu', monospace;
  display: inline;
  position: absolute;
  margin-top: 14%;
  margin-left: -5%;
  font-size: 30px;
}


p {
  font-family: 'Gaegu', monospace;
}


.cap {
  font-family: 'Gaegu', monospace;
  display: inline;
  position: absolute;
  margin-top: 20%;
  margin-left: 3%;
  font-size: 18px;
  width: 30%;
}


.h2-right {
  text-align: right;
  position: absolute;
  margin-left: 10%;
  margin-top: 27%;
}


.cap-right {
  text-align: right;
  position: absolute;
  margin-left: 5%;
  margin-top: 33%;
  width: 30%;
}


.three {
  margin-top: 11%;
  margin-left: -5%;
}


.cap-three {
  margin-top: 17%;
  margin-left: 2%;
}


.four {
  margin-top: 7%;
  margin-left: 14%;
}


.cap-four {
  margin-top: 13%;
  margin-left: 3%;
}


.five {
  width: 40%;
  margin-top: 10%;
  margin-left: -2%;
}


.cap-five {
  margin-top: 20%;
  margin-left: 3%;
}


.six {
  margin-top: 20%;
  margin-left: 16%;
}


.cap-six {
  margin-top: 26%;
  margin-left: 3%;
}


.seven {
  margin-top: %;
  margin-left: %;
}


.cap-seven {
  margin-top: %;
  margin-left: 3%;
}


.launch {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 9px 23px;
  border: none;
  border-radius: 32px;
  background-color: white;
  font-family: 'Gaegu', monospace;
  letter-spacing: 1.5px;
}


.launch:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}


#footer {
  position: sticky;
  color: gray;
  width: 100%;
  margin: 50% 1.7% 1.7%;
  /* margin: 100px 20px 20px; */
  font-size: 14px;
  text-align: center;
  font-family: 'Gaegu', monospace;
}