* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}



html, body {
    height: 100%;
}



body {
    background: url(images/) no-repeat center fixed;
    background-size: cover;
}



header {
    display: flex;
}



/* Hambuger Nav */

.nav-list {
    text-decoration: none;
    color: gray;

    transition: color 0.3s ease;
}

.nav-list:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}


#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}



#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: gray;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: gray;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
    position: absolute;
    width: 400px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 65px;
    right: -100px;
    border-radius: 18px;

    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    margin: 20px;
    font-size: 22px;
    font-family: 'Caveat', cursive, Arial, Helvetica, sans-serif;
    display: inline;
}

    /*
    * And let's fade it in from the left
    */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}


/* Nav ended */

#zero {
    background-color: #f4f3f1;
    height: 100%;

}


#seven {
    background-color: #f6ae60;
    height: 80%;
}


#six {
    background-color: #de8670;
    height: 80%;
}


#five {
    background-color: #98679e;
    height: 80%;
}


#four {
    background-color: #f8c687;
    height: 80%;

}


#three {
    background-color: #21364b;
    height: 80%;

}


#two {
    background-color: #e29470;
    height: 80%;
}


#one {
    background-color: #679895;
    height: 100%;
}


button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 3% 10%;
    border: none;
    border-radius: 32px;
}


button:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}


.center {
    display: block;
    margin: 5% auto;
    width: 100%;
    margin-top: 35%;
    cursor: zoom-in;
}


.title {
    font-size: 27px;
    margin: 0 8%;
    margin-top: 17%;
    color: white;
}


p {
    margin: 0 8%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
}


.column.pic {
    margin-left: 12.5%;
    width: 30%;
}


.column.content {
    margin-right: 10%;
    width: 47.5%;
}


.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-close {
    border: none;
    border-radius: 50px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    background-color: #f44336;
    font-size: 24px;
    position: absolute;
    right: 16%;
    top: 6%;
}


.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 66%;
}


.animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom {
    from{transform:scale(0)} to {transform:scale(1)};
}


#footer {
    position: relative;
    color: seashell;
    width: 100%;
    height: 0px;
    bottom: 40px;
    font-size: 14px;
    text-align: center;
}