* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}



html, body {
    height: 100%;
}



body {
    background: url(images/) no-repeat center fixed;
    background-size: cover;
}



header {
    display: flex;
}




#zero {
    background-color: #f4f3f1;
    height: 100%;

}


#seven {
    background-color: #f6ae60;
    height: 100%;
}


#six {
    background-color: #de8670;
    height: 80%;
}


#five {
    background-color: #98679e;
    height: 80%;
}


#four {
    background-color: #f8c687;
    height: 80%;

}


#three {
    background-color: #21364b;
    height: 80%;

}


#two {
    background-color: #e29470;
    height: 80%;
}


#one {
    background-color: #679895;
    height: 100%;
}


button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 3% 10%;
    border: none;
    border-radius: 32px;
}


button:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}


.center {
    display: block;
    margin: 5% auto;
    width: 100%;
    margin-top: 35%;
    cursor: zoom-in;
}


.title {
    font-size: 27px;
    margin: 0 8%;
    margin-top: 17%;
    color: white;
    line-height: 1em;
}


em {
    font-size: 15px;
}


p {
    margin: 0 8%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
}


.column.pic {
    margin-left: 12.5%;
    width: 30%;
}


.column.content {
    margin-right: 5%;
    width: 52.5%;
}


.modal {
    z-index: 3;
    display: none;
    padding-top: 7%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-close {
    border: none;
    border-radius: 50px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    background-color: #f44336;
    font-size: 24px;
    position: absolute;
    right: 14%;
    top: 5%;
}


.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 66%;
}


.animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom {
    from{transform:scale(0)} to {transform:scale(1)};
}


#footer {
    position: relative;
    color: seashell;
    width: 100%;
    height: 0px;
    bottom: 40px;
    font-size: 14px;
    text-align: center;
}