* {
  margin: 0;
  padding: 0;
}



html, body {
  height: 100%;
}



header {
  display: flex;
}



/* Hambuger Nav */

.nav-list {
  text-decoration: none;
  color: seashell;
  
  transition: color 0.3s ease;
}



.nav-list:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}




#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}



#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: seashell;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: seashell;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 150px;
  margin: -50px 0 0 0;
  padding: 50px;
  padding-top: 70px;
  right: -100px;
  border-radius: 18px;
  
  background: #a4583eab;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Caveat', cursive, Arial, Helvetica, sans-serif;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}


/* Nav ended */



nav {
    display: inline;
}



ul a {
    text-decoration: none;
}



.ml12 {
  font-weight: 200;
  font-size: 2.1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
  float: right;
  margin-right: 265px;
  margin-top: 300px;
  font-family: 'Source Sans Pro', sans-serif;
}



.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}



.bg-1 {
  /* The image used */
  background-image: url("images/20181008_IMG_9880\ \(2\).jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 30px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}



.intro {
  height: 30%;
  background-color: #251e18;
  color: linen;
  text-align: center;
  padding: 30px 80px;
}



.bg-2 {
  /* The image used */
  background-image: url("images/20161102_IMG_5143.JPG");

  /* Full height */
  height: 70%;
  opacity: 1;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.box-caption {
  text-align: center;
}



.dandd {
  margin-top: 15%;
  /* color: #282E34; */
  color: white;
  font-family: 'Kranky', cursive;
  font-size: 55px;
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
}



.bg-3 {
  /* The image used */
  background-image: url("images/20180611_IMG_8746.JPG");

  /* Full height */
  height: 65%;
  opacity: 1;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* .bg-4 { */
  /* The image used */
  /* background-image: url("images/PKHJ3016.jpg"); */

  /* Full height */
  /* height: 65%;
  opacity: 1; */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */



.smaller-box-caption {
  height: 20%;
  color: white;
  background-color: #251e18;
  text-align: center;
  padding: 30px 80px;
}



.title {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 100px 70px 0px;
  font-size: 35px;
}



.contact-logos {
  margin: 45px 160px 0px;
}



img {
  margin-right: 35px;
}



.bg-5 {
  /* The image used */
  background-image: url("images/20180326_FullSizeRender.jpg");

  /* Full height */
  height: 100%;
  opacity: 0.85;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#footer {
  position: relative;
  color: seashell;
  width: 100%;
  height: 0px;
  bottom: 40px;
  font-size: 14px;
  text-align: center;
}